.addproject-block {
	width: 362px;
	background: #eff3f7;
	margin: 0px auto 0;
	border-radius: 3px;
	overflow: hidden;
	-webkit-box-shadow: 0 6px 12px 1px rgba(13,16,7,.35);
	-moz-box-shadow: 0 6px 12px 1px rgba(13,16,7,.35);
	box-shadow: 0 6px 12px 1px rgba(13,16,7,.35);

	display: none;
}

.addproject-header {
	padding: 2.6px 0 2.6px 13px;
	background: #48cbe8;
	border-bottom: 9px solid #67dffa;
	font-family: FSRegular;
	font-size: 25px;
	color: #fff;
	margin-bottom: 7.2px;
}
.addproject-form {
	width: 320px;
	margin: 0 auto 21px;
}

/*Error*/
/*.error_message {
	position: absolute;
	left: -45.58%;
	top: 16%;
	background: #f97e76;
	padding: 2.5px 13.9px;
	border-radius: 2px;
	font-family: FSBook;
	font-size: 13px;
	color: #fff;
}
.error_message:after {
	content: "";
	width: 0;
    height: 0;
    right: -7px;
    top: 8px;
    position: absolute;
    border-top: 5px solid transparent;
    border-left: 7px solid #f97e76;
    border-bottom: 5px solid transparent;
}*/


/*введите название
изображение
ссылка на проект
описание проекта*/


/*width: 139px;
height: 26px;
border-radius: 2px;
треугольник высовывается на 7px;*/

/*кнопка с крестиком
height: 25px;
width: 25px;*/