.form-header {
	padding: 39.5px 0px 39.5px 62px;
	background: #48cbe8;
	font-family: FSBook;
	font-size: 27px;
	color: #fff;
	border-bottom: 17px solid #67dffa;
	margin-bottom: 42px;
}
.contact-form {
	width: 403px;
	margin: 0 auto;
	padding-bottom: 70px;
}