.login {width: 590px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -275px;
	margin-left: -295px;
}

.login_form {width: 422px;margin: 0 auto 23px;text-align: center;}

.form-login-header {
	padding: 15px 0;
	background: #48cbe8;
	text-align: center;
	border-bottom: 15px solid #67dffa;
	font-family: FSBook;
	font-size: 40px;
	color: #fff;
	margin: 0 0 14.8px 0;
}